.container {
  text-align: left;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 60%; /* Change to 100% for mobile responsiveness */
  margin: 0 auto;
  background-color: #f7f7f7;
  margin-top: 20px;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

form {
  margin-bottom: 20px;
}

.file-input-wrapper {
  position: relative;
}

.file-label {
  display: inline-block;
  background-color: #e2eaf1;
  color: #444;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.file-input {
  display: none;
}

.file-label:hover {
  background-color: #d0d8e2;
}

.selected-file-name {
  display: block;
  margin-top: 10px;
}

button.upload-button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  margin-right: 10px;
}

button.refresh-button {
  background-color: #2196f3;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

button.refresh-button:hover {
  background-color: #214cf6;
  font-weight: bold;
}

button.upload-button:hover {
  background-color: #328234;
  font-weight: bold;
}

.result {
  margin-bottom: 20px;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

h2 {
  font-size: 20px;
  font-weight: bold;
}

.pitch-deck {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-bottom: 20px;
}

.title {
  font-weight: bold;
}

button.display-button {
  background-color: #2196f3;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.content {
  margin-top: 10px;
}

.content h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.content p {
  font-size: 16px;
  line-height: 1.5;
  text-align: justify;
}
